{% extends 'base.html' %}

{% block main %}
{% load staticfiles %}
<div class='container'>
	<div class='row'>
	<br><br>
	 <div class="jumbotron">
	 {% if success %}
	 <p class='alert alert-success'>Tweet Saved Successfully</p>
	 {% endif %} 
		   {% if user and not user.is_anonymous %}
		   <h1><a>Hello {{ user.get_full_name|default:user.username }}!</a><a class="btn btn-info pull-right" href="{% url 'logout' %}"><i class="fa fa-sign-out">&nbsp;&nbsp;Logout</i></a></h1>
		 <h4>Write a tweet which will be posted whenever anyone follows you on twitter</h4>
		 
		 <br><br> 
		    <form class="form-horizontal style-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %} 
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Tweet</label>
                              <div class="col-sm-10">
                                  <textarea class="form-control" name="text" rows="4" maxlength='120' required></textarea>
                              </div>
                          </div>
                          <legend class="center-block"></legend>
                          <div class="inline pull-right"><input type="submit" value="Save" name="save" class="btn btn-info">
                      </form>
		    </ul>
		    {% else %}
		    <h1>Internship Task</h1>
		 <h4>authentication using twitter account</h4>
		 
		 <br><br> 
		   <a class="btn btn-info pull-left" href="/login/twitter/"><i class="fa fa-twitter">&nbsp;&nbsp;LOGIN WITH TWITTER</i></a>
		   {% endif %}
	 </div>
	</div>
</div>
{% endblock %}